@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

body{
  background-color: var(--color-gray-900);
}


.text-fira-code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}